/* custom-menu.css */

.menu-toggle-products {
    background-color: transparent; /* Set background to transparent */
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Adjust size as needed */
    height: 25px; /* Adjust size as needed */
    padding: 0;
}

.menu-toggle-icon-products {
    display: block;
    width: 100%;
    height: 3px; /* Thickness of each bar */
    background-color: #333; /* Color of the bars */
    border-radius: 3px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

/* Optional: Add spacing between bars if needed, or adjust height of button */
.menu-toggle-products .menu-toggle-icon-products:nth-child(2) {
    margin: 4px 0; /* Space between bars */
}
